#desc-generales p{
	font-size: 2em;
}

#desc-generales h5{
	font-weight: normal;
	font-size: 2em;
	margin: 1em auto;
}

del{
	font-size: 80%;
	display: inline-block;
	transform: rotate(-15deg);
}

strong{
	font-size: 160%;
	font-weight: 500;
}

.texte-gris{
	color: Dimgray;
	font-weight: 600;
}

#desc-detail{
	margin-top: 1em;
	width: 100%;
	align-self: flex-end;
}

#desc-detail table{
	width: 100%;
	border-collapse: collapse;
}

#desc-detail td{
	padding: 0.5em;
}

#desc-detail td:nth-child(2){
	text-align: right;
}

#info-generales{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}

#desc-block{
	font-size: 0.7em;
}