.commentaires{
	border-left: 0.4em solid #07F;
	margin: 1.5em 0em;
}

.info-message > p:nth-child(2){
	font-size: 1em;
	border: 0.2em solid #AAA;
	border-left: none;
	border-radius: 0.5em;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

.info-message > p:nth-child(3){
	font-size: 1.2em;
}

.info-message img{
	border: 0.4em solid #AAA;
	border-radius: 0.5em;
	height: 5em;
	margin: -0.3em 1em -0.3em 0em;
	vertical-align: middle;
}

#envoyer-commentaire{
	position: relative;
}

textarea#commentaire{
	font-size: 1.4em;
	min-width: 99%;
	max-width: 99%;
	min-height: 8em;
	border: 0.2em solid #AAA;
	border-radius: 0.5em;
}

#envoyer{
	background-color: dimgray;
	padding: 0.5em 1em;
	border: 0.2em solid #AAA;
	border-radius: 0.5em;
	position: absolute;
	right: 0.5em;
	bottom: 0.5em;
}