.block-base .block-base{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 1em;
}

.block-base .block-base div{
	text-align: center;
	border: 0.5em solid #AAA;
	border-radius: 1em;
}

.block-base .block-base div img{
	border-bottom: 0.5em solid #AAA;
}