.block-base section{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 2em;
}

.block-base > p{
	margin: 0.8em 0.3em;
}

.block-base div{
	text-align: center;
	border: 0.5em solid #AAA;
	border-radius: 1em;
	margin-bottom: 1em;
}

.block-base div img{
	border-bottom: 0.5em solid #AAA;
}

.block-base div p{
	margin: 0.3em 0em;
}